header {
  grid-area: header;
  display: flex;
  background: transparent;
  z-index: 500;
  height: 80px;
  padding: 2rem;
  align-items: center;
}

.header .botonMenu {
  flex: 100px;
}

header .iconMenu {
  color: #ffffff;
  width: 30px;
  height: 30px;
  transition: 0.3s;
}

header button {
  padding: 10px;
  background-color: #ffffff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 2px 4px 12px rgba(28, 26, 148, 0.247);
  transition: background-color 0.3s ease;
}

header form {
  flex: auto 600px;
  display: flex;
}

header input {
  width: 300px;
  padding: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #fff8f0;
  color: #000000;
  box-shadow: 2px 4px 12px rgba(28, 26, 148, 0.247);
}


header .redesHeader {
  flex: 100px;
  display: flex;
  justify-content: end;
}

header .iconRedes {
  width: 30px;
  height: 30px;
  color: #ffffff;
  transition: 0.2s;
}

header button:hover {
  background-color: #0088aa;
  color: white;
}

header .iconMenu:hover,
header .iconRedes:hover {
  cursor: pointer;
  scale: 1.3;
  transition: 0.3s;
}

header .buscarMsg {
  color: white;
  align-self: center;
  padding: 0 1rem;
  font-weight: bold;
}