.empezando {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2rem;
    color: white;
    letter-spacing: 4px;
    font-style: oblique;
    gap: 5rem;
    align-items: center;
}

.empezando article {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 50%;
    font-size: 2rem;
    text-shadow: 2px 0 10px black;
}
