.footer {
  height: 100%;
  color: #ffffff;
  box-shadow: inset 0 6px 10px rgba(0, 0, 0, 0.233);
  padding: 1rem;
}

.footerWrapper {
  display: flex;
  justify-content: space-evenly;
}

.footerWrapper ul li {

  color: #ffffff;
  list-style-type: none;
  padding: 4px;
  transition: 0.2s;
  border-left: 1px solid transparent;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footerWrapper ul li:hover {
  color: #080808;
  transition: 0.2s;
  border-left: 2px solid black;
  scale: 1.3;
  text-shadow: 1x 1px 3px rgba(0, 0, 0, 0.76);
  cursor: pointer;
}