.galeriaPrincipal {
    padding: 2rem;
    height: 100%;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.galeriaPrincipal .imagenProfesional {
    transition: 0.3s;
    padding: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "knewave";
    font-size: 2rem;
}

.galeriaPrincipal .galeriaImagenes {
    margin: auto;
    display: grid;
    padding: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
    justify-content: center;
    align-items: stretch;
    border-radius: 5px;
    box-shadow: 0 0 30px rgb(255, 255, 255);
}

.galeriaPrincipal .imagenUsuario {
    padding: 1rem;
}

.galeriaPrincipal .imagenProfesional:hover {
    scale: 1.2;
    transition: 0.3s;
    z-index: 400;
    cursor: pointer;
    overflow: hidden;
    transform: none;
}

.galeriaPrincipal .imagenProfUsuario {
    height: 350px;
    width: 350px;
    max-width: 400px;
    max-height: 400px;
}

.galeriaPrincipal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #000000;
}

.galeriaPrincipal img:hover {
    scale: 1.2;
    transition: 0.3s;
    z-index: 400;
    cursor: pointer;
}

.galeriaPrincipal a{
    all: unset;
}