.perfilAdmin {
  padding: 1rem;
  height: 100%;
  max-width: 100%;
}

.perfilAdmin .perfilUsuarios,
.perfilAdmin .perfilAsociados {
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.233);
  padding: 1rem;
}

.perfilAdmin .adminCerrar {
  display: block;
  padding: 1rem;
  margin: auto;
  background-color: #ff000036;
  box-shadow: 2px 2px 56px black;
}

.perfilAdmin input {
  padding: 0.3rem;
  border: 1px solid black;
  margin-left: 10px;
  margin-right: 10px;
}

.perfilAdmin button {
  background-color: rgb(0, 0, 0);
  padding: 0.5rem;
  color: white;
  border-radius: 5px;
}

.perfilAdmin button:hover {
  background-color: rgb(193, 222, 255);
}

.perfilAdmin .adminDatosFlex {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.perfilAdmin span {
  font-weight: bold;
}

.perfilAdmin div {
  padding: 1rem;
}

.perfilAdmin .adminInputFlex {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.perfilAdmin .wrapperCrearAsociado {
  width: 100%;
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.perfilAdmin .wrapperCrearAsociado form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.perfilAdmin .msgActualizado {
  text-align: center;
  padding: 1rem;
  font-weight: bold;
}

.perfilAdmin img {
  padding: 1rem;
  width: 150px;
  height: auto;
}

.perfilAdmin .imagenForm {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
}

.perfilUsuarios .galeriaProfesional {
  display: none;
}

.perfilUsuarios .galeriaImagenes {
  all: unset;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.perfilUsuarios .imagenProfesional {
  all: unset;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}

.perfilUsuarios .imagenProfUsuario {
  width: 100%;
}

.perfilUsuarios .imagenProfesional img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  background-color: transparent;
}

.perfilUsuarios .imagenProfesional:hover {
  transform: none;
}

.perfilReportes, .perfilOpiniones {
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.233);
  padding: 1rem;
}

.perfilListaReportes, .perfilAdminOpiniones {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 40%));
  justify-content: center;
  gap: 1rem;
}

.perfilReportes article, .perfilOpiniones article {
  color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.233);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.perfilReportes span, .perfilOpiniones span {
  font-weight: bolder;
  font-size: 1.2rem;
}

.perfilReportes .divIconReportes, .perfilOpiniones .divIconReportes {
  display: flex;
}


.perfilReportes .iconReportes, .perfilOpiniones .iconReportes {
  margin: auto;
  scale: 1.3;
}

.perfilReportes .iconReportes:hover, .perfilOpiniones .iconReportes:hover {
  scale: 1.5;
  cursor: pointer;
  transition: 0.3s;
}

.perfilAdmin .botonesUsuario {
  display: flex;
  gap: 1rem
}