.profesionalPerfil {
    display: grid;
    grid-template-columns: minmax(100px, 250px) minmax(300px, 1fr) minmax(100px, 250px);
    font-family: 'Liberation Sans';
    font-weight: bold;
    font-style: oblique;
    padding: 1rem;
}

.descripcionPerfil {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 2rem;
    text-shadow: 1px 1px 2px black;
    box-shadow: -20px 0px 20px 1px rgba(0, 0, 0, 0.322);
}

.descripcionPerfil img {
    width: 100%;
    height: auto;
    max-width: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.like {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
    transition: 0.3s;
    box-shadow: 20px 0px 20px 1px rgba(0, 0, 0, 0.322);
}

.likeBoton, .noLikeBoton {
    width: 3rem;
    height: 3rem;
    transition: 0.3s ease-in-out;
    filter: drop-shadow(3px 6px 9px rgba(0, 0, 0, 0.89));
}

.likeBoton:hover, .noLikeBoton:hover{
    cursor: pointer;
    transform: rotateX(30deg);
    transition: 0.3s ease-in-out;
}

.galeriaPerfil {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-shadow: 2px 5px 20px 4px rgba(0, 0, 0, 0.322);
    overflow: hidden;
}

.galeriaPerfil .galeriaImagenes {
    all: unset;
    height: auto;
    display: flex;
}

.galeriaPerfil .galeriaImagenes .imagenProfesional {
    all: unset;
}

.galeriaPerfil .galeriaImagenes .imagenProfUsuario {
    height: 150px;
    width: 150px;
    max-width: 250px;
    max-height: 250px;
}

.galeriaPerfil .galeriaImagenes .imagenProfUsuario:hover {
    scale: 1.2;
    transition: 0.3s;
}

.galeriaPerfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #000000;
}

.galeriaPerfil .imagenUsuario {
    display: none;
}

.galeriaPerfil .ampliacionImagen {
    width: 800px;
    height: 500px;
    background-color: black;
    border: 2px solid black;
}

.contactoProfesional {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-shadow: 0px -6px 5px rgba(0, 0, 0, 0.322);
}

.contactoProfesional {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem;
    color: white;
    font-family: 'Liberation Sans';
    font-weight: bold;
}

.contactoProfesional h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.contactoProfesional form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 900px;
    gap: 2rem;
}

.contactoProfesional .inputs, .textareas {
    display: flex;
    flex-direction: column;
}

.contactoProfesional label {
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.contactoProfesional input,
.contactoProfesional textarea {
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;
    border-radius: 10px;
    padding: 0.8rem 1rem;
    margin-bottom: 1.5rem;
    color: white;
    font-size: 1rem;
    outline: none;
    transition: 0.3s all ease;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.contactoProfesional input::placeholder,
.contactoProfesional textarea::placeholder
{
    color: rgba(255, 255, 255, 0.774);
}

.contactoProfesional input:focus,
.contactoProfesional textarea:focus {
    border-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
}

.contactoProfesional textarea {
    resize: horizontal;
    min-height: 150px;
    min-width: 300px;
    max-width: 700px;
}

.contactoProfesional button {
    margin-top: 1rem;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s all ease;
    align-self: flex-start;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.contactoProfesional button:hover {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
}