.registro {
  display: flex;
  position: fixed;
  z-index: 600;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(5px);
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.registro form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  width: 400px;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 2px 2px 20px 15px #fffefd69;
  gap: 1rem;
}

.registro .salir {
  display: flex;
  justify-content: right;
  align-items: center;
  color: #ffffff;
}

.registro .salir div {
  display: flex;
  font-size: 1.6rem;
  align-items: center;
}

.registro .salir div:hover {
  scale: 1.2;
  transition: 0.2s;
}

.registro .tipousuario {
  font-size: 0.8rem;
  text-align: center;
  color: #ffffff;
}

.registro #tipousuario {
  outline: none;
}

.registro label {
  display: block;
  width: 60%;
  margin: auto;
  padding: 0.3rem;
  font-weight: bold;
  color: #ffffff;
}

.registro input {
  display: block;
  width: 60%;
  margin: auto;
  padding: 0.3rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.registro input:focus {
  outline: 1px solid rgba(54, 33, 11, 0.7);
  border: none;
}

.registro button {
  display: block;
  margin: auto;
  background-color: #002555;
  padding: 0.7rem;
  width: 40%;
  transition: 0.5s;
  color: white;
  border-radius: 5px;
}

.registro button:hover {
  scale: 1.1;
  background-color: #00000088;
}

.errorValidacion {
  padding: 5px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
}