.seccionReporte {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
    color: white;
}

.formulioReporte {
    padding: 1rem 1.2rem;
    border-radius: 18px;
    width: 320px;
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.199);
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.formularioReporte label {
    font-weight: 500;
    letter-spacing: 0.5px;
}

.formularioReporte input {
    appearance: none;
    color: white;
    width: 18px;
    height: 18px;
    border: 2px solid #ffffff;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.formularioReporte input:checked {
    background: #ffffff;
}

.formularioReporte button {
    padding: 0.8rem;
    border-radius: 12px;
    background: #111;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    width: 50%;
    margin: auto;
}

.formularioReporte button:hover {
    background: #ac4a4a;
    scale: 1.1;
}

.msgReporte {
    height: 20px;
    text-align: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.iconReport {
    cursor: pointer;
}

.iconReport:hover {
    scale: 1.3;
    transition: 0.3s;
}