@import './css/general.css';
@import './css/cabecera.css';
@import './css/nav.css';
@import './css/inicio.css';
@import './css/registro.css';
@import './css/loginsTabla.css';
@import './css/perfilAdmin.css';
@import './css/perfilUsuario.css';
@import './css/galeriaPrincipal.css';
@import './css/profesionales.css';
@import './css/profesionalPerfil.css';
@import './css/asociados.css';
@import './css/footer.css';
@import './css/contacto.css';
@import './css/reportes.css';
@import './css/opiniones.css';
@import './css/empezando.css';